/* 
    color palette:
    #51E08A : Buttons bG
    #3B4877 : input BG & select
    #000C36: main BG
    #FFFFFF: text color
*/

html, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto Slab", serif;
    color: white;
}

main, header {
    width: 400px;
    margin: 0 auto;
    position: relative;
    background-color: #000C36;
}

main {
    height: 150vh;
}

header .first-form-logo {
    width: 150px;
    display: block;
    margin: 0 auto;
    /* padding-top: 100px; */
    padding: 150px 0 0 0;
}

header .second-form-logo {
    width: 100px;
    display: block;
    margin: 0 auto;
    /* padding-top: 100px; */
    padding: 20px 0 0 0;
}

.first-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
}

.first-form input {
    height: 50px;
    border-radius: 6px;
    background-color: #3B4877;
    border: none;
    color: white;
    text-align: center;
    font-size: 1.3em;
}

.first-form input::placeholder {
    color: #000C36;
}

.first-form input:focus {
    border: none;
}

 button {
    width: 100%;
    padding: 10px;
    font-size: 2em;
    font-weight: bolder;
    border-radius: 6px;
    border: none;
    background-color: #51E08A ;
    color: #000C36;
    cursor: pointer;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 2px;
}


.second-form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 0 2em 2em 2em;
}

.second-form textarea {
    width: 100%;
    height: 60px;
    border-radius: 6px;
    background-color: #3B4877;
    border: none;
    resize: none;
    color: white;
    padding: .5em;
}

span {
    background-color: #3B4877;
    padding: .25em .5em;
    border-radius: 3px;
    cursor: pointer;
}

.space {
    margin-top: .6em;
}


.results {
  padding: 1em 2em;
}

.results img {
    width: 100%;
    border-radius: 6px;
    /* margin: 1em 0; */
}

.btn {
    display: flex;
    justify-content:center;
    margin-top: 1em;
}

.btn-next {
    width: 100%;
    padding: 10px 20px;
    font-size: 2em;
    font-weight: bolder;
    border-radius: 6px;
    border: none;
    background-color: #51E08A ;
    color: #000C36;
    cursor: pointer;
}

.selected {
    background-color: #51E08A;
    color: #000C36;
}

.first-form-container {
    display: block;
}

.second-form-container {
    display: none;
}

.loader {
    width: 30%;
    margin: 2em auto;
    color: #51E08A;
    display: none;
    padding-top: 10em;
}

.error {
    padding: 1em 2em;
}

/* .loader svg {
    color: #51E08A;
} */